.flagContainer{
  height: 20vmin;
  width: 36vmin;
  border: 1px solid black;
}
.yellowBackground{
  background-color: yellow;
}
.blueBackground{
  background-color: blue;
}
.redBackground{
  background-color: red;
}
.whiteBackground{
  background-color: white;
}
.greenBackground{
  background-color: green;
}
.orangeBackground{
  background-color: orange;
}

/* Indonesia */
#indonesia .section{
  height:50%;
}

/* Colombia */
#colombia .section{
  height: 50%;
}

/* Ireland */
#ireland{
  /* font-size: 0px; */
  display: flex;
}
#ireland >.thirdFlagSection {
  /*display:inline-block;
  width: 33.33%;
  height: 100%;*/
  width: 100%;
}

/* France */
#france{
  display: flex;
  background-color: white;
}
#france > .thirdFlagSection{
  width: 100%;
}
#france > .thirdFlagSection:nth-child(1){
  background-color: blue;
}
#france > .thirdFlagSection:nth-child(3){
  background-color: red;
}

/* Benin */
#benin{
  display: flex;
}
#benin > .thirdFlagSection{
height: 100%;
width: 33.33%;
}
#benin > .twoThirdsFlagSection{
  height: 100%;
  width: 66.66%
}
#benin .section{
  height: 50%;
  width: 100%;
}

/* Sweden */

/* Switzerland */

/* Tonga */

/* Japan */

/* Canada */

/* Norway */

/* Greece */

/* Somalia */

/* Chile */

/* Turkey */

/* China */

/* Cuba */

/* Western Sahara */

/* Kuwait */

/* Venezuela */

/* Trinidad And Tobago */

/* United Kingdom */

/* New Zealand */

/* United States */

/* Seychelle */
